// Глобальные стили

// Переменные
$font-family-primary: 'Golos Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Сброс стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Базовые стили
body, html {
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
